
.background {
	-fx-background-color:
	#aed5fc
}
.logintitle{
    -fx-font-size: 32pt;
    -fx-font-weight: bold;
}
.label{
	-fx-font-weight:bold;
}

.button {
    -fx-background-color: 
        #707070,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.button:hover {
      -fx-background-color: 
        #f2f2f2
}
.button:focused{
	-fx-background-color:
	#f2f2f2
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}